In [36]:
nbrs = [[10, 20, 30], [1, 2, 3], [5, 50, 5], [0, 3, 6, 9]]
strs = ["apple", "banana", "pear", "banana", "grape"]
rtn = [num for lst in nbrs if sum(lst) <= 50 for num in lst if num < 5]
print(rtn)

[1, 2, 3, 0, 3]

In [27]:
print([z+1 for i in nbrs if sum(i) <100 for z in [y +10 i]])

[11, 21, 31, 2, 3, 4, 6, 51, 6, 1, 4, 7, 10]

In [42]:
def elements_of_freedom(elements):
    # Your solution here
    
    # Step 1: Filter elements with length >= 5
    rtn = [n for n in elements if len(n) >= 5]
    # Step 2: Convert filtered elements to uppercase
    rtn = [n.upper() for n in rtn]
    # Step 3: Create a list of unique elements
    rtn = list(set(rtn))
    # Step 4: Return the final result
    return rtn

In [43]:
print(elements_of_freedom(strs))

['APPLE', 'GRAPE', 'BANANA']

In [49]:
lst = list(map(str.title,strs))
print(lst)

['Apple', 'Banana', 'Pear', 'Banana', 'Grape']

In [57]:
numbers = [1,2,3,4,5,6]
numbers2 = [1,2,3,4,5,6]
numbers3 = [1,2,3,4,5,6]

Triple Numbers
Write a Python program to triple all numbers in a given list using map().

In [53]:
print(list(map(lambda s:s*3,numbers)))

[3, 6, 9, 12, 15, 18]

In [59]:
print(list(map(lambda x,y,z:x+y+z,numbers,numbers2,numbers3)))

[3, 6, 9, 12, 15, 18]

In [64]:
print(list(map(list,strs)))

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'n', 'a', 'n', 'a'], ['p', 'e', 'a', 'r'], ['b', 'a', 'n', 'a', 'n', 'a'], ['g', 'r', 'a', 'p', 'e']]

In [68]:
base = [1,2,3]
exp = [0,1,2]
print(list(map(lambda a,b: a**b,base,exp)))

[1, 2, 9]

In [71]:
print(list(map(lambda a:a*a,numbers)))
print(list(map(lambda x: x ** 2, numbers)))

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [73]:
print(list(map(str.upper,strs)))

['APPLE', 'BANANA', 'PEAR', 'BANANA', 'GRAPE']

In [74]:
print(list(map(lambda a:'Hello_' + a,strs)))

['Hello_apple', 'Hello_banana', 'Hello_pear', 'Hello_banana', 'Hello_grape']

In [76]:
print(list(map(len,strs)))

[5, 6, 4, 6, 5]

In [78]:
str2 = ["apple ", " banana", " pear ", "banana", "  grape  "]

print(list(map(str.strip,str2)))

['apple', 'banana', 'pear', 'banana', 'grape']

In [79]:
print([x * 3 for x in numbers])

[3, 6, 9, 12, 15, 18]

In [84]:
print(list(map(lambda s:s*s,numbers)))

[1, 4, 9, 16, 25, 36]